.note{
    width: 250px;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgb(175,175,175);
    border: none;
    padding: 10px;
    margin: 16px;
    float: left;
}

.note .title{
    font-size: 1.1rem;
    margin-bottom: 7px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note .content{
    font-size: 1rem;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note .date{
    float: left;
}

.note span{
    cursor: pointer;
    float: right;
}

.note-color-changer{
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    border-radius: 50%;
    float: right;
    margin-right: 3px;
    margin-left: 2px;
}